{% extends '../base.html' %} 
{% load static %} 
{% block cssblock %}
<link data-chunk="corporate" rel="stylesheet" href="login1/css/135.7cccb66f8cc09f379705.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/8.942b5bf83f6c728edfcc.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/11.be5376993d5a41b3a9a8.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/17.a9b9bb9936c54496bef1.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/76.0046ff185835e906e50f.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/84.579dcd10d687d33c4dda.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/99.aa6329541ac183f38591.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/105.da940cbf9e9cbb7f72f5.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/141.2aaf497ffdbffed840d8.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/0.9e52bcccad8ca1159fe8.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/1.cb095252abf098c89e6f.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/2.85a6bc776f3ac72fff82.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/3.f5b78329b05d2e8fb18a.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/4.fc9c6746923a83b121cb.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/12.bc34786e5895bf647079.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/22.bc640ce3324530683c00.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/24.10c14c44172669a0f975.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/25.e1cd0c02b7327a4c12b2.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/77.eb862a70562c6bbe8c50.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/89.f116b2276090c200fc38.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/103.b2f131f81d10946e34b2.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/143.10457eca057300ad70c4.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/164.0e72c653efba09b72c1b.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/167.908878c5e866d3d5d8b7.chunk.css">
<link data-chunk="corporate-scenes-LogIn" rel="stylesheet" href="login1/css/corporate-scenes-LogIn.49655269db5b10064fa9.chunk.css">  
{% endblock %}

{% block content %}

<main class="container__rqRWTnAKs1S62wrC6ANnu main___z7-H6-8r_IyNJlbPcRLh">
    <div class="spacer__2-n3lZEL-ETwehgbUnvYq9">
        <h1 class="pageHeading__2mrP4cs4unLZqotOcfhzPu">Log In to Codecademy</h1>
        <div class="formContainer__1wou9t6paff76MdK4fGTIp">
            <div class="container__3UMuKHz-h-LEkp0hpjioD">
                <div class="flex__3Bn8_xPP40dn7KC2irK0j0 col__3V13k2XbofAGlwuLwbiW7 loginForm__1ZLq7gTIRWaG9vzmZaoX5">
                    <form action="https://www.codecademy.com/login" autocomplete="on" method="POST" class="Form__TBkbl6WYB9WAqzg-uU2EE">
                        <input type="hidden" name="authenticity_token" value="RFVzLauIfibOmRu0eCEQN2fpk51ebWMi2Oo20q7au+I=">
                        <input type="hidden" name="redirect" value="/">
                        <div class="formGroups__fbAxu8kXQMAW5x385_jwj">
                            <div class="FormGroup__32fXYSfjIG1_TjWWt6FS1j formGroup__uQy4bSHVpprJIvm2vWnG7">
                                <label for="user_login" class="FormGroupLabel__3tFH0wYEq5zT0Lod_IJfiI">Email or username</label>
                                <input type="text" name="user[login]" id="user_login" class="Input__3PqIovOKhwXjggTB2PtamX" value="">
                            </div>
                            <div class="FormGroup__32fXYSfjIG1_TjWWt6FS1j formGroup__uQy4bSHVpprJIvm2vWnG7">
                                <label for="login__user_password" class="FormGroupLabel__3tFH0wYEq5zT0Lod_IJfiI">Password</label>
                                <input type="password" name="user[password]" id="login__user_password" class="Input__3PqIovOKhwXjggTB2PtamX" value="">
                            </div>
                        </div>
                        <div class="padBottomIfNotEmpty__1au5AfFaxeNaQiBLpKmk1d"></div>
                        <div class="forgotContainer__8dBWWQVLL8efCK6nN6MBd"><a class="forgotPassword__7MREyTcbLkWk-Jmf94d4g" href="https://www.codecademy.com/secret/new">I forgot my password</a></div>
                        <button class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-purple__3e6nwHbcwpZsgA_deMwZzX large__QlHEru9uupUFiRsX5tsKz submitButton__1qOSI1Xv43tR9edqYcaaX2" id="user_submit" type="submit" data-btn="true">Log in</button>
                    </form>
                </div>
                <div class="flex__3Bn8_xPP40dn7KC2irK0j0 col__3V13k2XbofAGlwuLwbiW7">
                    <div>
                        <h2 class="heading__1haJxk1mDgOA0YCyJ1ns1u">Log In with Another Account</h2>
                        <div class="btnContainer__2CVLkVLV0IYNHq_uSNkSP3">
                            <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href="https://www.codecademy.com/users/auth/linkedin?signin=true"><img alt="Log in with LinkedIn" src="login1/images/be1606e736b7ae787add1973c386eff6.webp" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                            </div>
                            <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href="https://www.codecademy.com/users/auth/google_oauth2?signin=true"><img alt="Log in with Google" src="login1/images/009575cb805ae46490ba9b72cf63b22f.svg" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                            </div>
                            <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href="https://www.codecademy.com/users/auth/facebook?signin=true"><img alt="Log in with Facebook" src="login1/images/e44a2755e60f248ec67d963ac2b1af4d.svg" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                            </div>
                            <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href="https://www.codecademy.com/users/auth/github?scope=public_repo%2Cuser%3Aemail"><img alt="Log in with Github" src="login1/images/1d77ee7d6c14c4a1b3b3737557a71c4a.svg" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                            </div>
                            <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href="https://www.codecademy.com/users/auth/twitter?signin=true"><img alt="Log in with Twitter" src="login1/images/52f1faaae97168e5ef685a62e9f8b6a4.svg" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a href="https://www.codecademy.com/register" class="outLink__NemdIMix9eFGvHnWKCeFK">Not a member yet? <b>Sign up for free</b></a></div>
</main>
{% endblock %}


{% block jsblock %}
    
{% endblock %}