{% extends '../base.html' %} 
{% load static %} 
{% block cssblock %}
    
{% endblock %}
{% block content %}
<div class="landingContainer__aCJQzgQQ7kl3EXS1RU-OW">
    <main class="main__1mcAg9575w9qY96-G6HBeD">
        <div class="container__rqRWTnAKs1S62wrC6ANnu container__27cBG7haBwzxRb5jdpyirQ">
            <div class="collageContainer__1K6RcOSoOrdthFcWHWZVTk">
                <div class="titleContainer__2_hF4PCcyUJdRN17hGTRLM">
                    <h1>Join the Millions <br> Learning to Code <br> with Codecademy</h1></div><img src="login/images/6468a0de2ccbc914148505fec167b939.webp" alt="a happy Codecademy learner" class="learner__1z6IcrDlAWTKvGu7ZrWxvy"><img src="login/images/daecb491e565bc6b7390756d03fc1ee1.svg" alt="" class="bars__OTYBRfVkc-tC6tQpTQjJJ"><img src="login/images/f059ec67021b3dfeea1b6cb2eb373683.svg" alt=""><img src="login/images/3ce816c669e3c8a946f0895049a01e44.svg" alt="" class="triangle__QXVknIjrMnXFSLA5AFXrT"><img src="login/images/5c537833d79f7065497b565eaa7bca64.svg" alt="" class="rectangle__2AfvDwCmxbVckEEe_-qLF-"></div>
            <div class="formContainer__2_969JYPm4LTAM6Fr_hGiC">
                <div class="formContents__1nrC7HeQWbI_9Ep9hdoDHE">
                    <h2 class="formHeader__3LXAetlGTr_bQrXRCEon1E">Get Started For Free</h2>
                    <h1 class="mobileTitle__15S0N7te_80HxFgHpIgB7P">Join the Millions Learning to Code With Codecademy</h1>
                    <div class="formContainer__1wou9t6paff76MdK4fGTIp">
                        <div class="registrationContainer__1DWVArjxkRSHEqpISv3YfU">
                            <form novalidate="" method="POST">
                                <fieldset class="fieldset__2IcsxborktqVvm5FdfygAO">
                                    <input type="hidden" name="authenticity_token" value="RFVzLauIfibOmRu0eCEQN2fpk51ebWMi2Oo20q7au+I=">
                                    <input type="hidden" name="signing_up_from_exercise" value="false">
                                    <input type="hidden" name="referring_page" value="">
                                    <input type="hidden" name="redirect" value="">
                                    <div class="">
                                        <div class="FormGroup__32fXYSfjIG1_TjWWt6FS1j formGroup__26lWN6IoN44keRivjjZbD7">
                                            <label for="sign_up_form_email" class="FormGroupLabel__3tFH0wYEq5zT0Lod_IJfiI">Email</label>
                                            <div class="inputWrapper__1WcSn7pm4PiUUt2d3hgszk">
                                                <input type="email" data-testid="email-field" name="email" required="" data-resource="user" id="sign_up_form_email" class="Input__3PqIovOKhwXjggTB2PtamX" value="">
                                            </div>
                                        </div>
                                        <div class="FormGroup__32fXYSfjIG1_TjWWt6FS1j formGroup__26lWN6IoN44keRivjjZbD7">
                                            <label for="sign_up_form_password" class="FormGroupLabel__3tFH0wYEq5zT0Lod_IJfiI">Password</label>
                                            <div class="inputWrapper__1WcSn7pm4PiUUt2d3hgszk">
                                                <input type="password" data-testid="password-field" name="password" required="" pattern=".{6,128}" data-resource="user" id="sign_up_form_password" class="Input__3PqIovOKhwXjggTB2PtamX" value="">
                                            </div>
                                        </div>
                                    </div>
                                        <div>
                                            <div>
                                                <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                                                    <div class="grecaptcha-logo">
                                                       
                                                    </div>
                                                    <div class="grecaptcha-error"></div>
                                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-purple__3e6nwHbcwpZsgA_deMwZzX large__QlHEru9uupUFiRsX5tsKz submitButton__1syIjVGtZiGfg2aBWCcvkZ" id="sign_up_form_submit" data-btn="true">Start coding now</button>
                                    <p class="tos__2S7BNNliayxJrYfZEqHGOH">This page is protected by reCAPTCHA, and subject to Google’s <a href="https://www.google.com/policies/privacy">Privacy Policy</a> &amp; <a href="https://www.google.com/policies/terms/">Terms of Service</a>. By signing up for Codecademy, you agree to Codecademy's <a href="https://www.codecademy.com/terms">Terms of Service</a> &amp; <a href="https://www.codecademy.com/policy">Privacy Policy</a>.</p>
                                </fieldset>
                            </form>
                            <div>
                                <h2 class="heading__1haJxk1mDgOA0YCyJ1ns1u">Or, use another account:</h2>
                                <div class="btnContainer__2CVLkVLV0IYNHq_uSNkSP3">
                                    <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                        <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href=""><img alt="Log in with LinkedIn" src="login/images/be1606e736b7ae787add1973c386eff6.webp" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                                    </div>
                                    <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                        <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href=""><img alt="Log in with Google" src="login/images/009575cb805ae46490ba9b72cf63b22f.svg" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                                    </div>
                                    <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                        <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href=""><img alt="Log in with Facebook" src="login/images/e44a2755e60f248ec67d963ac2b1af4d.svg" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                                    </div>
                                    <div class="btnContainerItem__sWDoORfBpK6wol_BXVGpV">
                                        <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-red__2RN6Q_tSg7bDd8LhKAV02G socialAuthButton__2nRRFA5AioGVrj1qBkdjEn" data-btn="true" href=""><img alt="Log in with Github" src="login/images/1d77ee7d6c14c4a1b3b3737557a71c4a.svg" class="icon__1tzY3eS9A_qvo8-p_j46PP"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><img src="login/images/6dbde596705090b98e4012a740c0bedb.svg" alt="" class="ellipse__w4vVTx6SMBCTrBG6W-UIl">
        <div class="exploreSection__3OOSa9pKYeilALB_47PKLb">
            <div class="contentContainer__2hNipbbqs3wX_aJ0xS9qxf outerContentContainer__38Omz4RSSb5wkF7i69Tt_X">
                <div class="cardShadow__3_m4OjF6x9s5-w6UUggVTI"></div>
                <div class="card__2_xHmlEO4kszgkItMzDIOm">
                    <div class="contentContainer__12UkXWD7S_dud8N7gNMbkl">
                        <div class="content__AHfW_RLQrFca6bEYM1_JI">
                            <h2 class="title__3ws9_SJH6LFjQD--OGORmx">Not sure where to <span class="yellow__2ONyDgzxyLMx9_HjqFxl_X">begin?</span></h2>
                            <p class="description__2pqppi8UTYYzDHsheHVx8l">No need to worry, we’ll help you make sense of it all.</p>
                            <button class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-yellow__2vpZttWRMb3yjKF3oK6ulL large__QlHEru9uupUFiRsX5tsKz round___hHWDPbBYYIglr8X3dgp8 cta__3la1rjL2MGMYap4OHqRhi0" data-btn="true">Learn the Basics</button>
                        </div><img alt="" class="backgroundImage__2ZXTcwpV650WznQc-L5gDM" src="login/images/17c47851f2b9d7a7062206c5fd12ea42.svg"></div>
                </div>
            </div>
        </div>
        <div class="container__1ynR-7yRM0HrzggdWpmTAK">
            <h2 class="heading__18B8FSZQ2MFM-jACwkpFDm"><span class="headingPrimary__2DA0HFX4xQSxBflIhIRksk">First, we invented the best system for learning to code.</span><span class="headingSecondary__2GltCl_GDZyAGYgy8TrMNw">Seven years and 45 million learners later, we've perfected it.</span></h2>
            <ul class="stepsList__172-amMrVMWdKRHT6jZOay">
                <li class="stepItem__2G7xiLHwLKmvoUGLmuTzZZ itemWhite__3bfdfUtwDq0iDpmL14AK1U">
                    <div class="circle__3hLZZny0TRFqYwAEO9WF60"><span class="counter__1mNL-VB1y5tf5Vx5YzWv4M">1</span></div>
                    <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingMobile__1iu_89eYnt4A_YHXsEyRj4">Choose what to learn</h3>
                    <div class="imageContainer__1dQwlfTwWviFLx0CiplJHq"><img alt="" src="login/images/1ca54a931e939a92042749dc8e8036d7.webp"></div>
                    <div class="content__34Jqqposdbsxvl2CdI2Tmw contentRaised__3OfiRQxvVfNjjah-UueanH">
                        <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingLarge__2gUO1GaymH0hM1Bt_9Od9s">Choose what to learn</h3>
                        <p class="description__3Sd4qvnK_qArSMDhhiLX3s">From building websites to analyzing data, the choice is yours. Not sure where to start? We'll point you in the right direction.</p>
                    </div>
                </li>
                <li class="stepItem__2G7xiLHwLKmvoUGLmuTzZZ itemWhite__3bfdfUtwDq0iDpmL14AK1U">
                    <div class="circle__3hLZZny0TRFqYwAEO9WF60"><span class="counter__1mNL-VB1y5tf5Vx5YzWv4M">2</span></div>
                    <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingMobile__1iu_89eYnt4A_YHXsEyRj4">Learn by doing</h3>
                    <div class="imageContainer__1dQwlfTwWviFLx0CiplJHq"><img alt="" src="login/images/0f483471fc5de0fc55d12a9cc626c020.webp"></div>
                    <div class="content__34Jqqposdbsxvl2CdI2Tmw contentRaised__3OfiRQxvVfNjjah-UueanH">
                        <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingLarge__2gUO1GaymH0hM1Bt_9Od9s">Learn by doing</h3>
                        <p class="description__3Sd4qvnK_qArSMDhhiLX3s">No matter your experience level, you'll be writing real, working code in minutes.</p>
                    </div>
                </li>
                <li class="stepItem__2G7xiLHwLKmvoUGLmuTzZZ itemWhite__3bfdfUtwDq0iDpmL14AK1U">
                    <div class="circle__3hLZZny0TRFqYwAEO9WF60"><span class="counter__1mNL-VB1y5tf5Vx5YzWv4M">3</span></div>
                    <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingMobile__1iu_89eYnt4A_YHXsEyRj4">Get instant feedback</h3>
                    <div class="imageContainer__1dQwlfTwWviFLx0CiplJHq"><img alt="" src="login/images/82298a46582c30688e1100c115c872e2.webp"></div>
                    <div class="content__34Jqqposdbsxvl2CdI2Tmw contentRaised__3OfiRQxvVfNjjah-UueanH">
                        <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingLarge__2gUO1GaymH0hM1Bt_9Od9s">Get instant feedback</h3>
                        <p class="description__3Sd4qvnK_qArSMDhhiLX3s">Your code is tested as soon as you submit it, so you always know if you're on the right track.</p>
                    </div>
                </li>
                <li class="stepItem__2G7xiLHwLKmvoUGLmuTzZZ itemWhite__3bfdfUtwDq0iDpmL14AK1U">
                    <div class="circle__3hLZZny0TRFqYwAEO9WF60"><span class="counter__1mNL-VB1y5tf5Vx5YzWv4M">4</span></div>
                    <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingMobile__1iu_89eYnt4A_YHXsEyRj4">Put your learning into practice</h3>
                    <div class="imageContainer__1dQwlfTwWviFLx0CiplJHq"><img alt="" src="login/images/75f7f135f11eb64f3f410110fd920b4a.webp"></div>
                    <div class="content__34Jqqposdbsxvl2CdI2Tmw contentRaised__3OfiRQxvVfNjjah-UueanH">
                        <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingLarge__2gUO1GaymH0hM1Bt_9Od9s">Put your learning into practice</h3>
                        <p class="description__3Sd4qvnK_qArSMDhhiLX3s">Apply your learning with real-world projects and test your knowledge with tailor-made quizzes.</p>
                    </div>
                </li>
                <li class="stepItem__2G7xiLHwLKmvoUGLmuTzZZ itemWhite__3bfdfUtwDq0iDpmL14AK1U">
                    <div class="circle__3hLZZny0TRFqYwAEO9WF60"><span class="counter__1mNL-VB1y5tf5Vx5YzWv4M">5</span></div>
                    <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingMobile__1iu_89eYnt4A_YHXsEyRj4">Land your dream job</h3>
                    <div class="imageContainer__1dQwlfTwWviFLx0CiplJHq"><img alt="" src="login/images/7a8e6dff611cd922d8e8c596115de97e.webp"></div>
                    <div class="content__34Jqqposdbsxvl2CdI2Tmw">
                        <h3 class="subHeading__2dasasqw1x6Iw_YOvHxZDS subHeadingLarge__2gUO1GaymH0hM1Bt_9Od9s">Land your dream job</h3>
                        <p class="description__3Sd4qvnK_qArSMDhhiLX3s">Coding skills have never been more in-demand. Learn everything you need to take your career to the next level.</p>
                    </div>
                </li>
            </ul>
        </div>
        <section class="whyCodeSection__2W7QI6rSj68Fbknw9avAo0">
            <div class="overflowHidden__lSSAEOs7tCFC1p7lKSoqA"><img src="login/images/e0d9df921d35e41443746c8c5ecde4d8.svg" alt="" class="languageIcons__21eWW_7uVPnkYAtBSm00VR"></div>
            <div class="container__rqRWTnAKs1S62wrC6ANnu"><img src="login/images/5bd7c6d391b59ececf8a120c2df90378.svg" alt="" class="greenBars__1SknqKozYvhPmtQohAMkJ4"><img src="login/images/4dc23ba6e2cf1a3973b9796a812d03a0.svg" alt="" class="greenCircles__2vSWCqjXheL5c5-0LiM8MX">
                <h2 class="whyCodeTitle__3tVSxSWsjbqmrxTlRa2ELQ"><span class="block__13vtbuX6wS1EjC7bSO6Brm">Tell us <span class="mint__1Oln3ZrnLUrtMXuIrqURh8">why</span> you want to learn to code</span><span class="block__13vtbuX6wS1EjC7bSO6Brm">We’ll show you <span class="yellow__3tgHDVVOSSvltzVbRAnU7k">what</span> to learn</span></h2>
                <div class="subjectRow__3FV73i34UB-jlcHGT40VfC">
                    <div>
                        <div class="subjectHeadingContainer__2wTUwDGoJcu48IJnrRowlT">
                            <h3 class="subjectHeading__2AQrMP3sw5I5SvJjoErKBI">Web Development</h3></div>
                        <div>
                            <ul class="subjectTabs__2Ta94JxpfgBu6YQOa1W8Xm subjectTabsWeb__1_rVVAiGwHkQ_UpOw7sqsb">
                                <li>HTML/CSS</li>
                                <li>JavaScript</li>
                            </ul>
                        </div>
                        <p>Master the languages of the web: HTML, CSS, and JavaScript. This path will prepare you to build basic websites and then build interactive web apps.</p>
                    </div>
                    <div>
                        <div class="subjectHeadingContainer__2wTUwDGoJcu48IJnrRowlT">
                            <h3 class="subjectHeading__2AQrMP3sw5I5SvJjoErKBI">Programming and <br> Computer Science</h3></div>
                        <div>
                            <ul class="subjectTabs__2Ta94JxpfgBu6YQOa1W8Xm subjectTabsProgramming__1g1DNcLpPISwQ8DnZQ0KyJ">
                                <li>Python</li>
                                <li>Cmd Line</li>
                            </ul>
                        </div>
                        <p>Learn Python fundamentals, one of the hottest and fastest growing programming languages. This is a great introduction to the world of code.</p>
                    </div>
                    <div>
                        <div class="subjectHeadingContainer__2wTUwDGoJcu48IJnrRowlT">
                            <h3 class="subjectHeading__2AQrMP3sw5I5SvJjoErKBI">Data Science</h3></div>
                        <div>
                            <ul class="subjectTabs__2Ta94JxpfgBu6YQOa1W8Xm subjectTabsData__kNgSSwRpsiIeBQDvK1XjA">
                                <li>Python</li>
                                <li>SQL</li>
                            </ul>
                        </div>
                        <p>Learn SQL and Python and build the skills you need to analyze data. Great for anyone trying to use code to be more data-driven.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="ctaSection__zm-W6_HAXoYcfn1l7_7ix">
            <div class="container__rqRWTnAKs1S62wrC6ANnu"><img src="login/images/ad31cc5d0e772afeb709ff2eb8533388.svg" alt="" class="intersectingOvalsImg__2ZSm2AS1c4h4nC3B85jYlg"><img src="login/images/22ec3e0cc58cb2335431228f470553ae.svg" alt="" class="pieChartImg__3-uU9vIxyzeFh2crrDWacz"><img src="login/images/75e370504e7e835443ce65fa47062325.svg" alt="" class="togglesImg__1PzEpoqzi1-WSGbJDIUnhf">
                <div class="ctaSectionContent__h7BseQtZFajAIaOl5eIwm">
                    <h2 class="ctaHeader__3o_mugLhxuk7hV0nSrWw9n">It’s time to start <br> investing in yourself</h2>
                    <p class="ctaContent__rowhWnyBK5ks2i2uex6wi">Because learning to code might be the easiest way to change your career.</p><a aria-label="Get Started with Codecademy" class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-white__3cp0DB_LQiFlB9f4DEb3JH large__QlHEru9uupUFiRsX5tsKz outline__ew2jvSIM6pGG9P_gw6Bm5 round___hHWDPbBYYIglr8X3dgp8 ctaButton__38sD9geJXJYsWGPgyus4s6" data-btn="true" href="https://www.codecademy.com/register">Get Started</a></div>
            </div>
        </div>
    </main>
{% endblock %}


{% block jsblock %}
    
{% endblock %}