{% load static %}
<!DOCTYPE html>
<html lang="vi" dir="ltr" class="translated-ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script type="text/javascript" async="" src="./learn/css/analytics.js"></script>
    <script type="text/javascript" async="" src="./learn/css/pearmill.min.js"></script>
    <title>Học đi | Mật mã</title>
    <base href="{% static '' %}">
    <link href="" title="Blog Codecademy" type="application/rss+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link data-chunk="portal" rel="stylesheet" href="./learn/css/99.aa6329541ac183f38591.chunk.css">
    <link data-chunk="portal" rel="stylesheet" href="./learn/css/135.7cccb66f8cc09f379705.chunk.css">
    <link data-chunk="portal" rel="stylesheet" href="./learn/css/42.e0a37222265b803486a7.chunk.css">
    <link data-chunk="portal" rel="stylesheet" href="./learn/css/49.619d1b7ae9575a5c6460.chunk.css">
    <link data-chunk="portal" rel="stylesheet" href="./learn/css/191.f3276576b26550209de5.chunk.css">
    <link data-chunk="portal" rel="stylesheet" href="./learn/css/components-Modal-ProTrialWelcomeModal.158b2d9ab5ce2422c7b6.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/8.942b5bf83f6c728edfcc.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/11.be5376993d5a41b3a9a8.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/17.a9b9bb9936c54496bef1.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/27.4c3f1edb78d113eacc19.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/29.2f07740f08918fe2f21f.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/35.766427021ea062e879d3.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/39.162d49696e1195060e2e.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/41.6fd515b860d355e0a546.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/139.1b8d62336328f23779df.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/0.9e52bcccad8ca1159fe8.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/1.cb095252abf098c89e6f.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/2.85a6bc776f3ac72fff82.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/3.f5b78329b05d2e8fb18a.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/4.fc9c6746923a83b121cb.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/12.bc34786e5895bf647079.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/22.bc640ce3324530683c00.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/24.10c14c44172669a0f975.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/25.e1cd0c02b7327a4c12b2.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/31.bd966d7eb762fac953cc.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/34.7b26b07b48f3dd53fbaa.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/36.3f1b5a513d9cc56f085d.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/38.f6e618a6c5832a200663.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/58.691c33df2452ee32b618.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/193.c9a29db4f6b768e033ed.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/214.3f47390e5749316d408a.chunk.css">
    <link data-chunk="portal-scenes-CoursePages-CourseLandingPage" rel="stylesheet" href="./learn/css/portal-scenes-CoursePages-CourseLandingPage.61c934e152e38360df77.chunk.css">

    <script id="__LOADABLE_REQUIRED_CHUNKS__" type="application/json">[6,8,10,11,14,15,16,17,18,20,23,26,27,29,35,37,39,41,57,78,80,139,383,0,1,2,3,4,5,7,9,12,13,19,21,22,24,25,28,30,31,33,34,36,38,40,58,66,71,74,96,110,117,176,177,193,214,255,233,324]</script>
    <script charset="utf-8" src="./learn/css/GTMUserSignUp.82966cafad76d8a889d6.chunk.js"></script>
    <script type="text/javascript" async="" defer="" src="./learn/css/jsp"></script>



</head>
<body browser="Generic Linux">
    <div class="react-root" data-react-class="PortalRouter">
        <header class="container__1hPyO_adylRZpxP6JdBypu" data-testid="AppHeader">
            <div class="wrapper__ieNERVDhj5v6wqZBEOJo1 appBar__1plQcNpzz2xnn-Cqpexr2f">
                <div class="contentContainer__2hNipbbqs3wX_aJ0xS9qxf contentWrapper__SO2xcUMV_CmB5WtK_pKJR">
                    <div class="section__1cfDV7MrGaOJqYhTQWqqnu sectionLeft__HIHZOMlcd22nPEXvG9Qfd">
                        <div class="headerList__U30VGdwiLhlWjS1SRg5Er">
                            <div>
                                <div id="logo" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz">
                                    <a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-dark-blue__2FtBOFhB1Sm_V0B5IdP_g_ flat__1P46os5ArVG5G28Uwdk86R logo__2IORrIH9qmIQYlVgMfFmfw" data-testid="header-logo" data-btn="true" href=""><img alt="Logo Codecademy" class="image__isLATU2Hf_4qEdyQV8kg4" src="./learn/images/c1a578e6ab670cf0fa91f859f48fa380.svg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="headerList__U30VGdwiLhlWjS1SRg5Er showOnDesktop__ZR6sIPzoIS_Cnjk8_A2wC">
                            <div>
                                <div id="catalog" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-dark-blue__2FtBOFhB1Sm_V0B5IdP_g_ flat__1P46os5ArVG5G28Uwdk86R plainNavLink__3deF4z_f_GMbiYwXosllkE navLink__3h52GTRpNMhYteMdtsjRz-" data-testid="header-catalog" data-btn="true" href=";">Mục lục</font></font></a></div>
                            </div>
                            <div>
                                <div id="pricing" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-dark-blue__2FtBOFhB1Sm_V0B5IdP_g_ flat__1P46os5ArVG5G28Uwdk86R plainNavLink__3deF4z_f_GMbiYwXosllkE navLink__3h52GTRpNMhYteMdtsjRz-" data-testid="header-pricing" data-btn="true" href=";">Giá cả</font></font></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="section__1cfDV7MrGaOJqYhTQWqqnu sectionRight__2uUXumP-k1DvaMi1mOKmY8">
                        <div class="headerList__U30VGdwiLhlWjS1SRg5Er showOnDesktop__ZR6sIPzoIS_Cnjk8_A2wC">
                            <div>
                                <div id="pro-button" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz"><a data-testid="upgrade-link" data-cxlid="upgrade-link" target="_self" rel="noopener noreferrer" class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-purple__3e6nwHbcwpZsgA_deMwZzX" data-btn="true" href=";">Dùng thử miễn phí</font></font></a></div>
                            </div>
                            <div>
                                <div id="header-search" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz">
                                    <button class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-dark-blue__2FtBOFhB1Sm_V0B5IdP_g_ flat__1P46os5ArVG5G28Uwdk86R plainNavLink__3deF4z_f_GMbiYwXosllkE navLink__3h52GTRpNMhYteMdtsjRz- searchButton__18qKgSYuHwx3R1k_fB2rXu navIcon__3nbYLr95tUVJLSIATOIxYA" data-testid="header-search" data-btn="true">
                                        <svg fill="currentColor" height="24" version="1.1" viewBox="0 0 24 24" width="24" >
                                            <title>Search Icon</title>
                                            <path d="M9.583 2a7.583 7.583 0 0 1 7.584 7.583 7.601 7.601 0 0 1-1.82 4.935l.315.315h.921l5.834 5.834-1.75 1.75-5.834-5.834v-.921l-.315-.315a7.601 7.601 0 0 1-4.935 1.82A7.583 7.583 0 0 1 9.583 2zm0 2.333a5.228 5.228 0 0 0-5.25 5.25 5.228 5.228 0 0 0 5.25 5.25 5.228 5.228 0 0 0 5.25-5.25 5.228 5.228 0 0 0-5.25-5.25z" fill-rule="nonzero"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <div data-testid="header-notifications" id="header-notifications" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz">
                                    <div class="wrapper__1KVLpEZEOmH0aI-jAaK9mD">
                                        <div class="flex__3Bn8_xPP40dn7KC2irK0j0 align-center__13CiCBy3n3ENVo-Pcg6-GQ justify-center__itqEVc69KPEP50Vnp_sOH menuBell__3g4iBnjXjfVM0Q6IKDdIdT"><span aria-label="thông báo" event="click"><button class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-dark-blue__2FtBOFhB1Sm_V0B5IdP_g_ flat__1P46os5ArVG5G28Uwdk86R bell__AzBwO6vfXd1vBBNs_toEi dark__tUtbWGVdx7P8NeSNe8VfG" type="button" data-btn="true"><svg fill="currentColor" height="24" version="1.1" viewBox="0 0 24 24" width="24" ><title>Bell Icon</title><path d="M16 17H8v-6.5C8 8 9.778 6 12 6s4 2 4 4.5V17zm2.118-1v-5.5c0-3.07-2.014-5.64-4.706-6.32V3.5c0-.828-.632-1.5-1.412-1.5-.78 0-1.412.672-1.412 1.5v.68c-2.7.68-4.706 3.25-4.706 6.32V16L4 18v1h16v-1l-1.882-2zM12 22a2 2 0 0 0 2-2h-4a2 2 0 0 0 2 2z"></path></svg></button></span></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div data-testid="header-avatar" id="header-avatar" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz">
                                    <div class="wrapper__1KVLpEZEOmH0aI-jAaK9mD">
                                        <button aria-label="chuyển xuống tài khoản của tôi" class="toggle__3szlvGns4ctzptRSxBW7sy" id="dropdown-toggle" type="button">
                                            <div class="avatar__iqYIJGZkmbmobKVXphmgz round__2bsFO3dpI65-ZHgfEiQ3vx small__FMJauFN27Is17k4uexjiK"><img alt="hình đại diện" aria-label="chuyển xuống tài khoản của tôi" class="image__2I01llemOYC8w-ZOLGFJEz" src="./learn/images/d43b46edf21b8bc60739c0699ee9e658"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headerList__U30VGdwiLhlWjS1SRg5Er showOnMobile__3PIl-GIx8hmnIHyI7I2l1R">
                            <div>
                                <div id="header-notifications-mobile" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz">
                                    <button class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ navIcon__3nbYLr95tUVJLSIATOIxYA mobileMenuIcon__sNF60yNHyoHAjk8n7UiYe" data-testid="header-mobile-notifications" data-btn="true">
                                        <div class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-dark-blue__2FtBOFhB1Sm_V0B5IdP_g_ flat__1P46os5ArVG5G28Uwdk86R bell__AzBwO6vfXd1vBBNs_toEi dark__tUtbWGVdx7P8NeSNe8VfG" type="button" data-btn="true">
                                            <svg fill="currentColor" height="24" version="1.1" viewBox="0 0 24 24" width="24" >
                                                <title>Bell Icon</title>
                                                <path d="M16 17H8v-6.5C8 8 9.778 6 12 6s4 2 4 4.5V17zm2.118-1v-5.5c0-3.07-2.014-5.64-4.706-6.32V3.5c0-.828-.632-1.5-1.412-1.5-.78 0-1.412.672-1.412 1.5v.68c-2.7.68-4.706 3.25-4.706 6.32V16L4 18v1h16v-1l-1.882-2zM12 22a2 2 0 0 0 2-2h-4a2 2 0 0 0 2 2z"></path>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <div id="menu" class="headerTab__38G_Mx8Kw-rvQSqtpxQ2kz">
                                    <button aria-label="Mở menu cài đặt" class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-dark-blue__2FtBOFhB1Sm_V0B5IdP_g_ flat__1P46os5ArVG5G28Uwdk86R mobileMenu__2iqYmpBN3KncQS1LHSWh9u navIcon__3nbYLr95tUVJLSIATOIxYA mobileMenuIcon__sNF60yNHyoHAjk8n7UiYe" data-testid="header-mobile-menu" data-btn="true">
                                        <svg fill="currentColor" height="24" version="1.1" viewBox="0 0 24 24" width="24" >
                                            <g fill-rule="nonzero">
                                                <path d="M20 11v2H4v-2zM20 17v2H4v-2zM20 5v2H4V5z"></path>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main data-testid="course-landing-page" id="course-landing-page">
            <header class="header__3igq9n5NOQDb0BZuWlYoJL" style="background-color:#2daaa6">
                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Học đi</font></font></h1>
                <p data-testid="header-course-description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu cách sử dụng Go (Golang), ngôn ngữ lập trình nguồn mở được Google hỗ trợ!</font></font>
                </p><a aria-label="Khóa học bắt đầu" class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-yellow__NllR1hRsjKGJhfWw0cj7- large__QlHEru9uupUFiRsX5tsKz round___hHWDPbBYYIglr8X3dgp8 courseResumeButton__2OtxVpeVBDFXCJRQrvKIMo" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khởi đầu</font></font></a><img class="courseIllustration__1sUp3zqZ5P07vczDke7yIE" alt="" src="./learn/images/bf5c2cdedc7008c04ffe0b974fcd41b1.svg">
                <div class="headerBottom__2xLlFubluYvyK6VFga7aqw"></div>
            </header>
            <section>
                <div>
                    <div class="tabList__3jdiEEItFLkxQSjYvFPMJC tabList__2QxZPucDbCOUYWB55HNRJb" role="tablist">
                        <div class="tabListItem__1G9wmXh1jO2XEz8FcqLu3I tab__21lvvu9hUiJXkAxqcy1Dyf" role="tab"><a href="" id="05725801687696856-0" class="tab__1ojY-IALV72OEGn6o9eBMJ active__DGJIq3JbKekibflFOFcbo activeTab__17Z8HXJ4cRotUzhaCHXxWv" tabindex="0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tổng quat</font></font></a></div>
                        <div class="tabListItem__1G9wmXh1jO2XEz8FcqLu3I tab__21lvvu9hUiJXkAxqcy1Dyf" role="tab"><a href="" id="05725801687696856-1" class="tab__1ojY-IALV72OEGn6o9eBMJ" tabindex="0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">giáo trình</font></font></a></div>
                    </div>
                    <div id="05725801687696856-0-panel" aria-labelledby="05725801687696856-0" role="tabpanel" style="display:block">
                        <div>
                            <section class="overview__1c64lW0qDUsb9lZ7DN0nxr">
                                <div class="overviewWrapper__1qKsrs9xTXUpG6bRZUIHFD">
                                    <div data-testid="markdown" class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12">
                                        <h2 class="h2__1Ly_Sza5xVS3yZl46_StcN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tại sao học đi?</font></font></h2>
                                        <p class="p__1qg33Igem5pAgn4kPMirjw"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Go (hay Golang) là một ngôn ngữ lập trình nguồn mở được thiết kế để xây dựng phần mềm nhanh, đáng tin cậy và hiệu quả ở quy mô. </font></font>
                                        </p>
                                        <p class="p__1qg33Igem5pAgn4kPMirjw"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google sử dụng Go đặc biệt cho các mạng máy chủ lớn của mình và Go cũng cung cấp phần lớn nền tảng đám mây của riêng Google. </font><font style="vertical-align: inherit;">Các nhà phát triển sử dụng Go trong phát triển ứng dụng, phát triển web, trong các nhóm hoạt động và cơ sở hạ tầng, và nhiều hơn nữa. </font><font style="vertical-align: inherit;">Đây là ngôn ngữ của cơ sở hạ tầng và phát triển phần mềm Cloud Native.</font></font>
                                        </p>
                                        <p class="p__1qg33Igem5pAgn4kPMirjw"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khi mức độ phổ biến và áp dụng của Go tiếp tục tăng, chúng ta sẽ thấy việc sử dụng ngôn ngữ thậm chí còn sáng tạo hơn! </font></font>
                                        </p>
                                        <h2 class="h2__1Ly_Sza5xVS3yZl46_StcN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kỹ năng cất cánh:</font></font></h2>
                                        <p class="p__1qg33Igem5pAgn4kPMirjw"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trong khóa học này, chúng tôi sẽ đề cập đến: </font></font>
                                        </p>
                                        <ul class="ul__11icM1EC_0uPj3OY0Skp4r">
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Việc thiết lập môi trường Go và cách tạo tệp Go. </font></font>
                                            </li>
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Các kiểu dữ liệu của Go và các biến. </font></font>
                                            </li>
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Báo cáo có điều kiện của Go. </font></font>
                                            </li>
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sử dụng các chức năng trong Go. </font></font>
                                            </li>
                                        </ul>
                                        <h2 class="h2__1Ly_Sza5xVS3yZl46_StcN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bạn sẽ xây dựng cái gì?</font></font></h2>
                                        <ul class="ul__11icM1EC_0uPj3OY0Skp4r">
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gopher It: In nghệ thuật ASCII bằng Go. </font></font>
                                            </li>
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Truyện tranh nghịch ngợm: Sử dụng các biến để lưu trữ dữ liệu về một cửa hàng truyện tranh. </font></font>
                                            </li>
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bank Heist: Mô phỏng một vụ cướp ngân hàng bằng cách sử dụng các điều kiện. </font></font>
                                            </li>
                                            <li class="li__1KqBjwbWA3ze6V0BvXq9Rx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Du lịch giữa các vì sao: Gọi các chức năng của một cơ quan du hành không gian.</font></font>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <aside class="infoBox__2iqVaOptHfU8PEdzxTPe_d" role="region">
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tham gia </font></font><span class="learnerCount__2yPA5NA5XI1tlPrpeWebef"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">45.000.000 </font></font><!-- --><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> người học Codecademy</font></font>
                                    </p>
                                    <div>
                                        <dl class="timeToComplete__1KDCsG4r1sfAL3D4AGDCvC"><dt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thời gian hoàn thành</font></font></dt>
                                            <dd><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 tiếng</font></font>
                                            </dd>
                                        </dl>
                                        <dl class="prerequisites__186tEZbVzLuUIew03ZO9Dh"><dt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều kiện tiên quyết</font></font></dt>
                                            <dd data-testid="prerequisites"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">không ai</font></font>
                                            </dd>
                                        </dl>
                                    </div>
                                </aside>
                            </section>
                            <section class="partnershipsWith__1UehuKEOmOEoeRYQCk4cEH" data-testid="partner">
                                <h2 class="partnershipsWithText__1gzboI-A-2uqVTQb13n3v0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Được hợp tác với</font></font></h2>
                                <a data-testid="partner-link" rel="noopener noreferrer" target="_blank"><img class="partnerImage__14xNOqUALe6qMjS1PC3seJ" alt="Logo đối tác" src="./learn/images/Google_resized.png"></a>
                            </section>
                            <div data-testid="modules">
                                <section class="overviewSection__EFFO8JGMVoVRjDnc1V4TS">
                                    <header class="sectionHeader__2Cs6-YlT1pl9bksg583uz5">
                                        <h2 class="title__2lD5SyRYychHqCzYnx5aFR"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bạn sẽ học được gì</font></font></h2></header>
                                    <ol class="courseUnits__2pMwQv1x5FDK7vxQN4lrcA">
                                        <li>
                                            <div class="flexContainer__b-3og6LuU8U2PR0V6Lu86">
                                                <div class="flexListItemContainer__3hBrrhAMp_kEtkFNV429vk">
                                                    <div class="listItemIndex__377U77q9Sj4X0cHB8wMaMa" data-testid="unit-index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font>
                                                    </div>
                                                    <div class="listItemContent__2LPqt6EQKJWpZrdKc5Ha6B">
                                                        <div class="listItemMain__3xoFuNSpO8mVlEk32pB_lA"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-greyblue__1-shhp0T_9gZAycv6kGUuS flat__1P46os5ArVG5G28Uwdk86R detailsLink__1fVDTqYB2HF8nxaeG1G88Y" data-testid="unit-title" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Học đi: Giới thiệu</font></font></a></div><span data-testid="unit-description" class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sẵn sàng để học cách sử dụng ngôn ngữ lập trình mới của Google, Go?</font></font></span></div>
                                                </div>
                                                <div class="flexButtonsContainer__2X2xzG4xrfMxwgbyBb-3M2"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-blue__nDTfT6aklI-Eyta33Bye flat__1P46os5ArVG5G28Uwdk86R viewDetails__2Y_vw9yzv1-RK0VGuYJ32q" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xem chi tiết </font></font></a><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-darkblue__3dJgGpNScfVdaO4xQkORnB outline__ew2jvSIM6pGG9P_gw6Bm5" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bắt đầu</font></font></a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flexContainer__b-3og6LuU8U2PR0V6Lu86">
                                                <div class="flexListItemContainer__3hBrrhAMp_kEtkFNV429vk">
                                                    <div class="listItemIndex__377U77q9Sj4X0cHB8wMaMa" data-testid="unit-index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font>
                                                    </div>
                                                    <div class="listItemContent__2LPqt6EQKJWpZrdKc5Ha6B">
                                                        <div class="listItemMain__3xoFuNSpO8mVlEk32pB_lA"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-greyblue__1-shhp0T_9gZAycv6kGUuS flat__1P46os5ArVG5G28Uwdk86R detailsLink__1fVDTqYB2HF8nxaeG1G88Y" data-testid="unit-title" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu đi: Biến và định dạng</font></font></a></div><span data-testid="unit-description" class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu về cách tạo và lưu trữ giá trị trong Go bằng cách sử dụng các biến. </font><font style="vertical-align: inherit;">Sử dụng các loại khác nhau để chỉ ra những giá trị mà các biến đó lưu trữ.</font></font></span></div>
                                                </div>
                                                <div class="flexButtonsContainer__2X2xzG4xrfMxwgbyBb-3M2"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-blue__nDTfT6aklI-Eyta33Bye flat__1P46os5ArVG5G28Uwdk86R viewDetails__2Y_vw9yzv1-RK0VGuYJ32q" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xem chi tiết </font></font></a><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-darkblue__3dJgGpNScfVdaO4xQkORnB outline__ew2jvSIM6pGG9P_gw6Bm5" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bắt đầu</font></font></a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flexContainer__b-3og6LuU8U2PR0V6Lu86">
                                                <div class="flexListItemContainer__3hBrrhAMp_kEtkFNV429vk">
                                                    <div class="listItemIndex__377U77q9Sj4X0cHB8wMaMa" data-testid="unit-index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font>
                                                    </div>
                                                    <div class="listItemContent__2LPqt6EQKJWpZrdKc5Ha6B">
                                                        <div class="listItemMain__3xoFuNSpO8mVlEk32pB_lA"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-greyblue__1-shhp0T_9gZAycv6kGUuS flat__1P46os5ArVG5G28Uwdk86R detailsLink__1fVDTqYB2HF8nxaeG1G88Y" data-testid="unit-title" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Học đi: Có điều kiện</font></font></a></div><span data-testid="unit-description" class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nếu bạn muốn tìm hiểu về việc triển khai các điều kiện trong Go, bạn đã đến đúng nơi! </font></font></span></div>
                                                </div>
                                                <div class="flexButtonsContainer__2X2xzG4xrfMxwgbyBb-3M2"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-blue__nDTfT6aklI-Eyta33Bye flat__1P46os5ArVG5G28Uwdk86R viewDetails__2Y_vw9yzv1-RK0VGuYJ32q" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bắt đầu</font></font></a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flexContainer__b-3og6LuU8U2PR0V6Lu86">
                                                <div class="flexListItemContainer__3hBrrhAMp_kEtkFNV429vk">
                                                    <div class="listItemIndex__377U77q9Sj4X0cHB8wMaMa" data-testid="unit-index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font>
                                                    </div>
                                                    <div class="listItemContent__2LPqt6EQKJWpZrdKc5Ha6B">
                                                        <div class="listItemMain__3xoFuNSpO8mVlEk32pB_lA"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-greyblue__1-shhp0T_9gZAycv6kGUuS flat__1P46os5ArVG5G28Uwdk86R detailsLink__1fVDTqYB2HF8nxaeG1G88Y" data-testid="unit-title" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu đi: Chức năng</font></font></a></div><span data-testid="unit-description" class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu làm thế nào để viết các chức năng Go trong khóa học đầy hành động này!</font></font></span></div>
                                                </div>
                                                <div class="flexButtonsContainer__2X2xzG4xrfMxwgbyBb-3M2"><a class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-blue__nDTfT6aklI-Eyta33Bye flat__1P46os5ArVG5G28Uwdk86R viewDetails__2Y_vw9yzv1-RK0VGuYJ32q" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bắt đầu</font></font></a></div>
                                            </div>
                                        </li>
                                    </ol>
                                </section>
                            </div>
                            <section class="overviewSection__EFFO8JGMVoVRjDnc1V4TS">
                                <header class="sectionHeader__2Cs6-YlT1pl9bksg583uz5">
                                    <h2 class="title__2lD5SyRYychHqCzYnx5aFR"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Những gì bạn sẽ tạo ra</font></font></h2>
                                    <p data-testid="header-description" class="description__3rnbG5oKmAeVCtIfzrCFO4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Các dự án danh mục đầu tư thể hiện các kỹ năng mới của bạn</font></font>
                                    </p><img data-testid="header-logo" class="logo__8d2JecGpleRewK80lV3X8" src="./learn/images/72b5f06e56593d35f98b5719ecd08a3b.svg" alt="Logo chuyên nghiệp"></header>
                                <ul class="contentItemList__1MYn9RJvPXB95hE8FeImwB">
                                    <li class="contentItem__14eatwiI3Ensbn5OMJrZbP">
                                        <a data-testid="content-item-link" class="contentItemLink__1QiKYgiaBEYsD0l1PGzgfe" href="">
                                            <div class="shell__26O4Vpaj5CqZxaoVpy-Xfe hoverShadow__IVW-wHwxmEL-Phbmh2ggi">
                                                <div class="projectThumbnail__3nBmIb9o7VqikHgftX1SFy" style="background-image:url('./learn/images/gopher_it.jpg')"></div>
                                                <div class="projectDetails__1G04H3e7wVsKA8eLM7yNzq">
                                                    <h3 class="contentItemTitle__3kw5iO67qVv_JEswUYblsD projectTitle__YKIKmaVGL9g_vobNpCPAo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nó</font></font></h3>
                                                    <p class="contentItemDescription__FYB-hUqcXupl6IkGVU5dI projectDescription__GvTspRVCmhA71WN9ynRG6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tạo một chương trình Go từ đầu. </font><font style="vertical-align: inherit;">Bạn sẽ kết hợp các khái niệm được trình bày trong bài học đầu tiên.</font></font>
                                                    </p>
                                                    <ul class="tags__18n_0hO5_O_AEQWdsVqt1L"></ul>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contentItem__14eatwiI3Ensbn5OMJrZbP">
                                        <a data-testid="content-item-link" class="contentItemLink__1QiKYgiaBEYsD0l1PGzgfe" href="">
                                            <div class="shell__26O4Vpaj5CqZxaoVpy-Xfe hoverShadow__IVW-wHwxmEL-Phbmh2ggi">
                                                <div class="projectThumbnail__3nBmIb9o7VqikHgftX1SFy" style="background-image:url('./learn/images/comic+mischief.jpg')"></div>
                                                <div class="projectDetails__1G04H3e7wVsKA8eLM7yNzq">
                                                    <h3 class="contentItemTitle__3kw5iO67qVv_JEswUYblsD projectTitle__YKIKmaVGL9g_vobNpCPAo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Truyện tranh nghịch ngợm</font></font></h3>
                                                    <p class="contentItemDescription__FYB-hUqcXupl6IkGVU5dI projectDescription__GvTspRVCmhA71WN9ynRG6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trở thành quản trị viên phần mềm của cửa hàng truyện tranh mà bạn sở hữu và vận hành, Comic Mischief. </font><font style="vertical-align: inherit;">Sử dụng các biến để lưu trữ dữ liệu về cửa hàng của bạn và cập nhật các biến đó để duy trì trạng thái bên trong của truyện tranh đang được thêm vào cửa hàng!</font></font>
                                                    </p>
                                                    <ul class="tags__18n_0hO5_O_AEQWdsVqt1L"></ul>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contentItem__14eatwiI3Ensbn5OMJrZbP">
                                        <a data-testid="content-item-link" class="contentItemLink__1QiKYgiaBEYsD0l1PGzgfe" href="">
                                            <div class="shell__26O4Vpaj5CqZxaoVpy-Xfe hoverShadow__IVW-wHwxmEL-Phbmh2ggi">
                                                <div class="projectThumbnail__3nBmIb9o7VqikHgftX1SFy" style="background-image:url('./learn/images/bank_heist.jpg')"></div>
                                                <div class="projectDetails__1G04H3e7wVsKA8eLM7yNzq">
                                                    <h3 class="contentItemTitle__3kw5iO67qVv_JEswUYblsD projectTitle__YKIKmaVGL9g_vobNpCPAo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Heist ngân hàng</font></font></h3>
                                                    <p class="contentItemDescription__FYB-hUqcXupl6IkGVU5dI projectDescription__GvTspRVCmhA71WN9ynRG6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sử dụng kiến ​​thức của bạn về các điều kiện và tạo số ngẫu nhiên để tạo ra một trình mô phỏng vụ cướp ngân hàng. 
</font></font>
                                                    </p>
                                                    <ul class="tags__18n_0hO5_O_AEQWdsVqt1L"></ul>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                            <section class="overviewSection__EFFO8JGMVoVRjDnc1V4TS">
                                <header class="sectionHeader__2Cs6-YlT1pl9bksg583uz5">
                                    <h2 class="title__2lD5SyRYychHqCzYnx5aFR"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Làm thế nào bạn sẽ làm chủ nó</font></font></h2>
                                    <p data-testid="header-description" class="description__3rnbG5oKmAeVCtIfzrCFO4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kiểm tra căng thẳng kiến ​​thức của bạn với các câu đố giúp đưa cú pháp vào bộ nhớ</font></font>
                                    </p><img data-testid="header-logo" class="logo__8d2JecGpleRewK80lV3X8" src="./learn/images/72b5f06e56593d35f98b5719ecd08a3b.svg" alt="Logo chuyên nghiệp"></header>
                                <ul class="contentItemList__1MYn9RJvPXB95hE8FeImwB">
                                    <li class="contentItem__14eatwiI3Ensbn5OMJrZbP">
                                        <a data-testid="content-item-link" class="contentItemLink__1QiKYgiaBEYsD0l1PGzgfe" href="">
                                            <div class="shell__26O4Vpaj5CqZxaoVpy-Xfe hoverShadow__IVW-wHwxmEL-Phbmh2ggi quiz__2X-c50ngcWBIWXRsTWoahE">
                                                <div class="standardPadding__30wLYlJfQ9r13CTC5oY8t-">
                                                    <h3 class="contentItemTitle__3kw5iO67qVv_JEswUYblsD quizTitle__1w0sJptAvMBY3fy9ENWOlP"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đi cơ bản</font></font></h3>
                                                    <p class="contentItemDescription__FYB-hUqcXupl6IkGVU5dI quizDescription__2i2sfwZE2Pqm4NK9y8Ql1-"></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contentItem__14eatwiI3Ensbn5OMJrZbP">
                                        <a data-testid="content-item-link" class="contentItemLink__1QiKYgiaBEYsD0l1PGzgfe" href="">
                                            <div class="shell__26O4Vpaj5CqZxaoVpy-Xfe hoverShadow__IVW-wHwxmEL-Phbmh2ggi quiz__2X-c50ngcWBIWXRsTWoahE">
                                                <div class="standardPadding__30wLYlJfQ9r13CTC5oY8t-">
                                                    <h3 class="contentItemTitle__3kw5iO67qVv_JEswUYblsD quizTitle__1w0sJptAvMBY3fy9ENWOlP"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm hiểu đi: Biến và các câu đố</font></font></h3>
                                                    <p class="contentItemDescription__FYB-hUqcXupl6IkGVU5dI quizDescription__2i2sfwZE2Pqm4NK9y8Ql1-"></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contentItem__14eatwiI3Ensbn5OMJrZbP">
                                        <a data-testid="content-item-link" class="contentItemLink__1QiKYgiaBEYsD0l1PGzgfe" href="">
                                            <div class="shell__26O4Vpaj5CqZxaoVpy-Xfe hoverShadow__IVW-wHwxmEL-Phbmh2ggi quiz__2X-c50ngcWBIWXRsTWoahE">
                                                <div class="standardPadding__30wLYlJfQ9r13CTC5oY8t-">
                                                    <h3 class="contentItemTitle__3kw5iO67qVv_JEswUYblsD quizTitle__1w0sJptAvMBY3fy9ENWOlP"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đi có điều kiện</font></font></h3>
                                                    <p class="contentItemDescription__FYB-hUqcXupl6IkGVU5dI quizDescription__2i2sfwZE2Pqm4NK9y8Ql1-"></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                            <div class="testimonialContainer__2Y6xYPhgHi5xO2idyUIihQ">
                                <div class="testimonialImageContainer__18MOIUWcOK0Id_tjlmlWC1"><img src="./learn/images/63ef3a4602a67d4538a6d48a46f07961.png" alt="Madelyn từ Pinterest"></div>
                                <div class="quoteContainer__Dnaucou-VX8-3LQ0tiUU8">
                                    <blockquote class="blockQuote__Hz53SdR3QkSvW6V-GjAnB">
                                        <div class="quoteContentsWrapper__31lu_piEfUdItj0VHAwdqj">
                                            <div class="startQuote__LVRUIw36SOSJVhmwQLAOc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cúc</font></font>
                                            </div>
                                            <div class="quoteContents__3cOPvWYe-t0d-26R_CAT8O"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tôi biết từ kinh nghiệm đầu tay rằng bạn có thể biết không, không có gì, và chỉ cần nắm bắt mọi thứ khi bạn đi và bắt đầu xây dựng ngay.</font></font>
                                            </div>
                                            <div class="endQuote__UzvGPl1jjTXyHMd9DqmhM"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giáo dục</font></font>
                                            </div>
                                        </div><cite class="cite__29zSiblmpp5HgryNOyPkJ5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- Madelyn, Pinterest</font></font></cite></blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="05725801687696856-1-panel" aria-labelledby="05725801687696856-1" role="tabpanel" style="display:none"></div>
                </div>
            </section>
            <footer class="courseResume__3La6nU21rVXPxoN25avFdX" style="background-color:#2daaa6"><a aria-label="Khóa học bắt đầu" class="basicBtn__3xa1QN1wgQsDZ1jCBiNCJ_ btn__2v-TLC9Odx5KkacwG29i-V btn-brand-yellow__NllR1hRsjKGJhfWw0cj7- large__QlHEru9uupUFiRsX5tsKz round___hHWDPbBYYIglr8X3dgp8 courseResumeButton__2OtxVpeVBDFXCJRQrvKIMo" data-btn="true" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khởi đầu</font></font></a></footer>
        </main>
        <div class="footerContainer__2cB8nUwedTUKXbiFXYSvtB" role="contentinfo">
            <div class="contentContainer__2hNipbbqs3wX_aJ0xS9qxf">
                <div class="flex__3Bn8_xPP40dn7KC2irK0j0 footerLinkContainer__DgCC62sH07B4c30skbFa6">
                    <div class="">
                        <div class="linkArea__2jvYZLXYXEn0Y5fioaqamv">
                            <div aria-level="2" class="linkHeader__21h9fl3u4EYPfhu1vav-Y-" role="heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mật mã</font></font>
                            </div><a class="footerReference__3W9Wedh5SBOlguDtimiAmt" href=";">Câu chuyện </font></a>
                            </font><a class="footerReference__3W9Wedh5SBOlguDtimiAmt" href=";">Chúng tôi đang tuyển dụng</font></a>
                            </font><a class="footerReference__3W9Wedh5SBOlguDtimiAmt" href=";"></font></a>
                            <div class="wrapper__2OLesUh9Ua-LUDHJ6Zguvm"><a aria-label="theo dõi chúng tối trên Twitter" class="icon__2ZPoun5lNFAnk37JQ5lkDl" href="/UC5CMtpogD_P3mOoeiDHD5eQ"><em name="youtube" class="i__2KIkaanoF-Y8NuXj93a04T ikona-youtube__2ikDTI6f0AJSGSHylqPpGC"></em></a></div>
                        </div>
                    </div>
                    <div class="courses__1qWhjyxJfeRdYK_zyMcgVT">
                        <div aria-level="2" class="linkHeader__21h9fl3u4EYPfhu1vav-Y-" role="heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mục lục</font></font>
                        </div>
                        <section class="container__2f7DEYx8PnE0xNs0W_dYGg">
                            <div class="column__1FHt5PC6nxaB8P5FfMtzac">
                                <h3 class="columnHeader__1o4_5hlbe87BDxxZozm4HN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Theo chủ đề</font></font></h3>
                                <div class="linkSection__3U-_Wwju0iWNqDuNNHLcTS"><a href="opment" class="noUnderline__3auQH9YTaYeT71hkb5qMQq filterLink__2ZkdA9a2soEPeJGrz06PTi" event="click"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phát triển Trò chơi</font></font></a></div>
                            </div>
                            <div class="column__1FHt5PC6nxaB8P5FfMtzac">
                                <h3 class="columnHeader__1o4_5hlbe87BDxxZozm4HN"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Theo ngôn ngữ</font></font></h3>
                                <div class="linkSectionLanguage__o2Sb0Ay3C_6P6QBwh2z97"><a href="l </font></font></a><a href=";">Swift</font></font></a></div>
                            </div>
                        </section>
                    </div>
                    <div class="">
                        <div class="linkArea__2jvYZLXYXEn0Y5fioaqamv">
                            <div aria-level="2" class="linkHeader__21h9fl3u4EYPfhu1vav-Y-" role="heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tài nguyên</font></font>
                            </div><a class="footerReference__3W9Wedh5SBOlguDtimiAmt" href="p"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trợ giúp </font></font></a><a class="footerReference__3W9Wedh5SBOlguDtimiAmt" href=";">Blog</font></font></a></div>
                    </div>
                </div>
            </div>
            <div class="legalLocalDivider__342n-uccd4LpG8hS_fOvPS"></div>
            <div class="contentContainer__2hNipbbqs3wX_aJ0xS9qxf">
                <div class="legalLocalContainer__1zyc6wOQaqcy7ZLbTpQSZk">
                    <div class="legalLinks__2sQ33YWzU0-C1p4m4-zI_"><a class="legalLink__3G1doZjHyuu44FRr-ioX-E" href=";">Điều kiện</font></font></a></div>
                    <div class="madeIn__1Bns1F9nGsK1_a2Xos2PxA"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Được tạo bằng </font></font><span aria-label="yêu và quý" class="helloFellowKids__1tdNZZp6ILVBi7vhUXUu_T" role="img"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">️❤️</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> tại NYC © </font></font>
                        <!-- --><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2020 </font></font>
                        <!-- --><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Codecademy</font></font>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal">
    </div>
    <div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.7593171601325419"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.5554121122403355" width="0" height="0" alt="" src="./learn/css/0"></div>
    <div class="goog-te-spinner-pos">
        <div class="goog-te-spinner-animation">
            <svg  class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66">
                <circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <div id="intercom-css-container">
        <style data-emotion="intercom-global"></style>
    </div>
    <div id="intercom-container" class="intercom-namespace">
        <div class="intercom-app" aria-live="polite">
            <div id="intercom-modal-container"></div>
        </div>
    </div>
</body>

</html>